<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @trip, class: 'drivers' do |f| %>
  <p>Please provide the following information to <%= sentance_end %></p>
  <div>
    <%= f.label :rating %>
    <%= f.select :rating, [1, 2, 3, 4, 5] %>
  </div>
  <div>
    <%= f.label "Cost $" %>
    <%= f.text_field :cost %>
  </div>
  <div>
    <%= f.label :driver %>
    <%= f.select :driver_id, Driver.all.map{ |driver| [driver.name, driver.id] } %>
  </div>
  <%= f.submit action_name %>
<% end %>
