<h2><%=@passenger[:name]%></h2>

<p>Passenger ID: <%=@passenger[:id]%> </p>

<p>Total Charged: $<%=@passenger.total_cost%> </p>

<h4>Trips:</h4>
  <ul>
    <%@passenger.trips.each do |trip|%>
      <li>
        Trip id: <%=trip.id%>, 
        Driver: <%=Driver.find_by(id: trip.driver_id).name%>, 
        Date: <%=trip.date%>, 
        Rating: <%=trip.rating%>
        Cost: <%=trip.cost%>
      </li>
    <%end%>
  </ul>


<%= link_to "Edit Passenger", edit_passenger_path(@passenger.id)%> | 
<%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"}%> 


