<div class='drivers'>
  <h2><%= @driver.name %>: <em><%= "available" if @driver.available%></em></h2>
  <p>Vehicle id # <%= @driver.vin%></p>
  <button>
    <%= link_to 'Edit Driver', edit_driver_path(@driver.id) %>
  </button>
  <p>average rating: <%= @driver.rating%> |</p>
  <p>total earnings: $<%= @driver.earnings%> |</p>
  <h4>Trips: <%= "none" if @driver.trips.length == 0 %></h4>
  <ul>
    <% @driver.trips.each do |trip|%>
      <li>
        Trip id: <%= trip.id %>, 
        Passenger: <%= Passenger.find_by(id: trip.passenger_id).name %>,
        Date: <%= trip.date %>,
        Rating: <%= trip.rating %>,
        Cost: <%= trip.cost %>
        |<span class='details-button'><%= link_to 'DETAILS', trip_path(trip.id) %><span>
       
      </li>
    <% end %>
  </ul>
</div>
