<div class='drivers'>
  <h2><%= @driver.name %>: <em><%= "available" if @driver.available%></em><em><%= "unavailable" if !@driver.available%></em></h2>
  <p>Vehicle id # <%= @driver.vin%></p>
  <p>average rating: <%= @driver.rating%></p>
  <p>total earnings: $<%= @driver.earnings%></p>
  <h4>Trips: <%= "none" if @driver.trips.length == 0 %></h4>
  <ul>
    <% @driver.trips.each do |trip|%>
      <li>
        Trip id: <%= trip.id %>,
        <% if trip.passenger_id.nil? %> 
          <em>Passenger has been removed.</em> 
        <% else %>
          Passenger: <%= Passenger.find_by(id: trip.passenger_id).name %>,
        <% end %>
        Date: <%= trip.date %>,
        Rating: <%= trip.rating %>,
        Cost: <%= trip.cost %>
        | <span class='details-button'><%= link_to 'DETAILS', trip_path(trip.id) %><span>
       
      </li>
    <% end %>
  </ul>
  <button>
    <%= link_to 'Edit Driver', edit_driver_path(@driver.id) %>
  </button>
  <button>
    <%= link_to 'Delete Driver',
      driver_path(@driver.id),
      method: :delete,
      data: {confirm: "Are you sure you want to delete this driver?"}
    %>
  </button>
</div>
